<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-5level %F:%L %C:%M >> %msg%n"/>
        </Console>
        <File name="File" fileName="../logs/skyhammer.log">
            <PatternLayout pattern="%d %-5level %F:%L %C:%M >> %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>